.customers {
	@extend %sections;
}
.customers__title {
	text-align: center;
	margin-bottom: 30px;
	color: $black-color;
	font-size: 28px;
	@media screen and (min-width: 1200px) {
		@include titles($black-color);
	}
}
.customers__list {
	@extend %lists;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	@media screen and (min-width: 1200px) {
		flex-wrap: nowrap;
	}
}
.customers__item {
	flex-basis: calc((100% - 30px) / 2);
	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 60px) / 3);
	}
	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 150px) / 6);
	}
}
.customers__svg {
	@extend %svg;
}
.customers__link {
	padding: 16px 0;
	border: #afb1b8 solid 1px;
	border-radius: 4px;
	width: 100%;
	display: flex;
	justify-content: center;
	@include transitions(border-color);
	&:hover,
	&:focus {
		border-color: $accent-color;
	}
	&:hover .customers__svg,
	&:focus .customers__svg {
		fill: $accent-color;
	}
	@media screen and (min-width: 1200px) {
		padding: 16px 32px;
	}
}
