.customers {
	@extend %sections ;
}
.customers__title {
	@include titles($black-color);
}
.customers__list {
	@extend %lists ;
	justify-content: center;
	align-items: center;
}
.customers__item {
	display: flex;
}
.customers__svg {
	@extend %svg ;
}
.customers__link {
	padding: 16px 32px;
	border: #afb1b8 solid 1px;
	border-radius: 4px;
	@include transition(border-color);
	&:hover, &:focus {
		border-color: $accent-color;
	}
	&:hover .customers__svg, &:focus .customers__svg {
		fill: $accent-color;
	}
}