.footer {
	background-color: $background-color;
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer .container {
	display: flex;
	gap: 70px;
}
.footer__logo {
	color: $white-color;
	margin-bottom: 20px;
	display: inline-block;
}
.footer__link {
	color: $text-color;
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.42px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover, &:focus {
		color: $accent-color;
	}
}
.footer__item {
	margin-bottom: 9px;
	&:first-child .footer__link {
		color: $white-color;
	}
}
.footer-soc__title {
	color: #fff;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer-soc__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.footer-soc__link {
	padding: 12px;
	display: flex;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover, &:focus {
		background-color: $accent-color;
	}
}
.footer-soc__svg {
	fill: $white-color;
}
.footer-form__title {
	color: #fff;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer-form__input {
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: $background-color;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	padding: 15px 16px;
	width: 358px;
	margin-right: 12px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover, &:focus {
		border-color: $accent-color;
		outline: none;
	}
}