.footer {
	background-color: $background-color;
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 60px;
	text-align: center;
	// margin-bottom: 60px;
	@media screen and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 165px;
	}
	@media screen and (min-width: 1200px) {
		gap: 70px;
		margin-bottom: 0;
		text-align: start;
	}
}
.footer__info {
	flex-shrink: 0;
}

// ???? як...

.footer__logo {
	font-size: 24px;
	color: $white-color;
	margin-bottom: 20px;
	display: inline-block;
	@media screen and (min-width: 768px) {
		margin-right: 0;
	}
	@media screen and (min-width: 1200px) {
		font-size: 26px;
	}
}
.footer__link {
	color: $text-color;
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.42px;
	@include transitions(color);
	&:hover,
	&:focus {
		color: $accent-color;
	}
	@media screen and (min-width: 480px) and (max-width: 1199px) {
		text-align: center;
	}
}
.footer__item {
	margin-bottom: 8px;
	&:first-child .footer__link {
		color: $white-color;
	}
	@media screen and (min-width: 1200px) {
		margin-bottom: 9px;
	}
}
.footer-soc {
	@media screen and (min-width: 768px) {
		margin-top: -45px;
	}
}
.footer-soc__title {
	color: #fff;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer-soc__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.footer-soc__link {
	padding: 12px;
	display: flex;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	@include transitions(background-color);
	&:hover,
	&:focus {
		background-color: $accent-color;
	}
}
.footer-soc__svg {
	fill: $white-color;
}
// .footer-form {
// 	@media screen and (min-width:480px) and (max-width: 1199px) {
// 		display: flex;
// 		justify-content: center;
// 	}
// }
.footer-form__form {
	display: flex;
	max-width: 450px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 1200px) {
		max-width: 570px;
	}
}
.footer-form__title {
	color: #fff;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer-form__input {
	@include inputs(1px solid rgba(255, 255, 255, 0.3));
	background: $background-color;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	padding: 15px 16px;
	width: 450px;
	margin-bottom: 20px;
	&:hover,
	&:focus {
		border-color: $accent-color;
		outline: none;
	}
	@media screen and (min-width: 1200px) {
		width: 358px;
		margin-right: 12px;
		margin-bottom: 0;
	}
}
