.header {
	padding: 16px 0;
	@media screen and (min-width: 768px) {
		padding: 20px 0;
	}
	@media screen and (min-width: 1200px) {
		padding-top: 24px;
		padding-bottom: 25px;
	}
}
.header__container {
	display: flex;
	align-items: center;
}
.logo {
	position: relative;
	color: $black-color;
	font-family: Raleway;
	font-size: 24px;
	letter-spacing: 0.78px;
	text-decoration: none;
	@media screen and (min-width: 768px) {
		margin-right: 87px;
	}
	@media screen and (min-width: 1200px) {
		margin-right: 93px;
		font-size: 26px;
	}
}
.logo__span {
	color: $accent-color;
	margin-right: -7px;
}

.nav {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.28px;
}
.nav__list {
	display: none;
	@media screen and (min-width: 768px) {
		display: flex;
		gap: 50px;
	}
}
.nav__link--current {
	color: $accent-color;
	opacity: 1;
	&::after {
		bottom: 0;
		content: "";
		display: block;
		height: 4px;
		width: 105%;
		background-color: $accent-color;
		position: absolute;
		border-radius: 2px;
		@include transitions(opacity);
	}
	&:hover::after {
		opacity: 0.5;
	}
}
.nav__link {
	color: $add-color;
	position: relative;
	@include transitions(color);
	&:hover,
	&:focus {
		color: $accent-color;
	}
	@media screen and (min-width: 768px) {
		padding: 32px 0;
	}
}
.address {
	margin-left: auto;
}
.address__list {
	display: none;
	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
		// padding: 21px 0;
	}
	@media screen and (min-width: 1200px) {
		flex-direction: row;
		gap: 50px;
		padding: 0;
	}
}
.address__svg {
	fill: $text-color;
	@include transitions(fill);
	@media screen and (min-width: 768px) {
		margin-right: 8px;
	}
	@media screen and (min-width: 1200px) {
		margin-right: 10px;
	}
}
.address__link {
	color: $text-color;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.28px;
	display: flex;
	align-items: center;
	@include transitions(color);
	&:hover {
		color: $accent-color;
	}
	&:hover .address__svg,
	&:focus .address__svg {
		fill: $accent-color;
	}
	@media screen and (min-width: 768px) {
		font-size: 12px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 14px;
	}
}
.menu__btn {
	background-color: transparent;
	border: none;
	padding: 12px 8px;
	margin-right: 15px;
	width: 40px;
	height: 40px;

	@media screen and (min-width: 768px) {
		display: none;
	}
}
.menu__svg {
	fill: $black-color;
	width: 24px;
	height: 16px;
	&:hover {
		cursor: pointer;
	}
}
