/* Porfolio */
.projects {
	padding-top: 94px;
	padding-bottom: 94px;
}
.filters-list {
	display: flex;
	gap: 8px;
	margin-bottom: 50px;
	justify-content: center;
}
.filters-item-btn {
	min-width: 73px;
	padding: 6px 22px;
	color: var(--add-color);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.625;
	letter-spacing: 0.48px;
	border: none;
	background-color: #f5f4fa;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-item-btn:hover,
.filters-item-btn:focus {
	color: var(--white-color);
	background-color: var(--accent-color);
	cursor: pointer;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
		0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.projects-list {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}
.projects-list-item {
	border: 1px solid;
	border-color: #eee;
	flex-basis: calc((100% - 60px) / 3);
}
.projects-item-link {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item-link:hover,
.projects-item-link:focus {
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
		0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.projects-img-wrapper {
	position: relative;
	overflow: hidden;
}
.projects-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(39, 124, 243, 0.82);
	width: 100%;
	height: 100%;
	transform: translateY(101%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list-item:hover .projects-overlay,
.projects-list-item:focus .projects-overlay {
	transform: translateY(0%);
}
.projects-overlay-text {
	color: var(--white-color);
	line-height: 28px;
	padding: 63px 24px;
}
.projects-item-box {
	padding: 20px 24px;
}
.projects-item-title {
	color: var(--add-color);
	font-size: 18px;
	line-height: 2;
	letter-spacing: 1.08px;
	margin-bottom: 4px;
}
.projects-item-text {
	color: var(--text-color);
	line-height: 1.875;
}
